rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /diagrams/{diagramId} {
      allow read: if resource.data.isPublic == true;
      allow read: if request.auth != null && request.auth.uid == resource.data.ownerId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.ownerId;
      allow update: if request.auth != null
                    && request.auth.uid == resource.data.ownerId
                    && request.resource.data.ownerId == resource.data.ownerId;
      allow delete: if request.auth != null && request.auth.uid == resource.data.ownerId;
    }
  }
}
